{% extends 'base/main.html' %}
{% block intro %}
    <div class="ui hidden transition information">
          <h1 class="ui inverted header" style="text-align: right">
سامانه‌ی سیمرغ
          </h1>
           <h2 class="ui inverted header" style="text-align: right">
          <p> سامانه ی سیمرغ بهترین سامانه است</p>
           </h2>


           <a href="http://127.0.0.1:8000/hotelsign/">
            <div class="large basic inverted animated fade ui button" >

                <div class="visible content">ثبت نام هتل</div>
                <div class="hidden content">همین حالا</div>

           </div>
           </a>


         <a href="http://127.0.0.1:8000/usersign/">
          <div class="large basic inverted animated fade ui button" >

            <div class="visible content">ثبت نام مسافر</div>
            <div class="hidden content">همین حالا</div>

          </div>
         </a>


        </div>
{% endblock %}
{% block content %}
<div class="ui vertical feature segment">
    <div class="ui centered page grid">
      <div class="fourteen wide column">
        <form class="ui form">
          <h3 class="ui dividing header" style="float:right;">
              جستوجو هتل
          </h3>
            <div class="two fields">
            <div class="field">
            </div>
            <div class="field">
              <label style="visibility: hidden;">State</label>
              <select class="ui search right dropdown">
                <option value="">استان</option>

                <option value="AL">آذربایجان شرقی</option>
                <option value="AK">آذربایجان غربی</option>
                <option value="AZ"> اردبیل</option>
                <option value="AR">اصفهان</option>
                <option value="CA">البرز</option>
                <option value="CO">ایلام</option>
                <option value="CT">بوشهر</option>
                <option value="DE">تهران</option>
                <option value="DC">چهار محال و بختیاری</option>
                <option value="FL">خراسان جنوبی</option>
                <option value="GA">خراسان رضوی</option>
                <option value="HI">خراسان شمالی</option>
                <option value="ID">خوزستان</option>
                <option value="IL">زنجان</option>
                <option value="IN">سمنان</option>
                <option value="IA">سیستان و بلوچستان  </option>
                <option value="KS">فارس</option>
                <option value="KY">قزوین</option>
                <option value="LA"> قم</option>
                <option value="ME"> کردستان</option>
                <option value="MD"> کرمان</option>
                <option value="MA"> کرمانشاه</option>
                <option value="MI"> کهگیلویه و بویراحمد</option>
                <option value="MN">گلستان</option>
                <option value="MS"> گیلان</option>
                <option value="MO">لرستان</option>
                <option value="MT">مازندران</option>
                <option value="NE"> مرکزی</option>
                <option value="NV">هرمزگان</option>
                <option value="NH">همدان</option>
                <option value="NJ">یزد</option>

              </select>
            </div>
          </div>

          <div class="two fields">

            <div class="field">
                <div class="two fields">
                    <div class="field">
                        <label style="visibility: hidden;">Rooms</label>
                      <div class="ui selection  dropdown">
                        <input type="hidden" name="rooms">
                        <div class="default text" style="float:right;">تعداد افراد</div>
                        <i class="dropdown icon"></i>
                        <div class="menu number-of-sth">
                          <div class="item" data-value="1">۱</div>
                          <div class="item" data-value="2">۲</div>
                          <div class="item" data-value="3">۳</div>
                          <div class="item" data-value="4">۴</div>
                          <div class="item" data-value="5">۵</div>
                          <div class="item" data-value="6">۶</div>
                          <div class="item" data-value="7">۷</div>
                          <div class="item" data-value="8">۸</div>
                          <div class="item" data-value="9">۹+</div>
                        </div>
                      </div>
                    </div>
                    <div class="two field">
                        <label style="visibility: hidden;">Rooms</label>
                      <div class="ui selection dropdown">
                        <input type="hidden" name="rooms">
                        <div class="default text" style="float: right;">تعداد اتاق</div>
                        <i class="dropdown icon"></i>
                        <div class="menu number-of-sth">
                          <div class="item" data-value="1">۱</div>
                          <div class="item" data-value="2">۲</div>
                          <div class="item" data-value="3">۳</div>
                          <div class="item" data-value="4">۴</div>
                          <div class="item" data-value="5">۵</div>
                          <div class="item" data-value="6">۶</div>
                          <div class="item" data-value="7">۷</div>
                          <div class="item" data-value="8">۸</div>
                          <div class="item" data-value="9">۹+</div>
                        </div>
                      </div>
                    </div>
            </div>
            </div>
            <div class="field">
              <div class="two fields">
                <div class="field">
                    <label style="visibility: hidden">تا</label>
                  <input type="text" name="first-name" placeholder="تاریخ خروج" style="direction: rtl;">
                </div>
                <div class="field">
                    <label style="visibility: hidden;">از</label>
                  <input type="text" name="last-name" placeholder="تاریخ ورود" style="direction: rtl;">
                </div>
              </div>
            </div>
          </div>
            <div class="eight fields">
                <div class="inline field">
                    <div class="ui small star rating"  data-rating="3" data-max-rating="5"></div>
                    <label>ستاره</label>
                 </div>
                <div class="inline field">
                    <div class="ui checkbox">
                      <label>استخر و سونا</label>
                      <input type="checkbox">

                    </div>
                 </div>
                <div class="inline field">
                    <div class="ui checkbox">
                      <label>اینترنت</label>
                      <input type="checkbox">

                    </div>
                 </div>
               <div class="inline field">
                    <div class="ui checkbox">
                      <label>صبحانه</label>
                      <input type="checkbox">

                    </div>
                 </div>
                 <div class="inline field">
                    <div class="ui checkbox">
                      <label>ناهار</label>
                      <input type="checkbox">

                    </div>
                 </div>
                <div class="inline field">
                    <div class="ui checkbox">
                      <label>سالن ورزش</label>
                      <input type="checkbox">

                    </div>
                 </div>
                 <div class="inline field">
                    <div class="ui checkbox">
                      <label>سالن همایش</label>
                      <input type="checkbox">

                    </div>
                 </div>
                <div class="field" id="plus">
                    <i class="green plus icon" style="float: right;"></i>
                </div>
            </div>
          <div class="ui submit teal button">جستوجو</div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}

{% block script %}
<script>
    $("#plus").click(function(){
        $(".inline.field>*").animate({ opacity: 1 });
    });
</script>

{% endblock %}