
{% extends 'base/main.html' %}

{% load staticfiles %}

{% block content %}

  <div class="ui  vertical segment" style="background: #ffffff" >
    <div class="ui very relaxed stackable page grid" style="background: #ffffff">



      <div class="row">
        <div class="six wide column" >
            <img src="{% static 'images/luxury.jpg' %}">

        </div>
        <div class="ten wide column" >
          <h3 class="ui inverted header" align="right" style="font-size: 35px; color: #000000" >{{hotel.hotel_name}}</h3>
            <div style="height:10px"></div>
             <h3 class="ui inverted header" align = "right;" style="color: #000000">توضیحات</h3>
             <div class="ui inverted section divider"></div>
          <p align = "right" style="color: #000000">هتل داریوش در جزیره کیش در جنوب ایران از زیبا ترین و مجلل ترین هتل های این منطفه میباشد. این هتل تمام امکانات تفریحی و فرهنگی و گردشگردی در یکی از زیبا ترین مناطق ایران را برای شما فراهم می آورد.</p>

          <div class="ui basic  black button button" id="edit">
              <a href="/hoteledit/{{ hotel.id }}" > ویرایش

           <!-- <div class="visible black content" style="color: #000000" >ویرایش </div> -->

                </a>
           <!-- <div class="hidden black content"><i class="right black arrow icon"></i></div>-->
          </div>
            <h3 class="ui inverted header" align = "right" style="color: #000000">امکانات هتل</h3>
          <div class="ui inverted section divider"></div>
         <!-- <h3 class="ui inverted header" align = "right">امکانات هتل</h3>-->

            <div class="ui inverted animated selection list">
            <div class="item">
              <i class="large green checkmark icon"></i>
              <div class="right floated" style="color: #000000">استخر</div>
            </div>
            <div class="item">
              <i class="large green checkmark icon"></i>
              <div class="right floated" style="color: #000000">سالن ورزشی</div>
            </div>
            <div class="item">
              <i class="large green checkmark icon"></i>
              <div class="right floated" style="color: #000000">صبحانه و ناهار</div>
            </div>
             <div class="item">
              <i class="large green checkmark icon"></i>
              <div class="right floated" style="color: #000000">وایرلس</div>
            </div>
          </div>

      </div>
    </div>

  </div>



<div style="height: 50px"></div>




<!-- <div class="ui inverted vertical segment" dir="rtl"> -->


 <h3 class="ui inverted header" align = "right" style="color: #000000;margin-right: 130px">نظرات</h3>
     <div class="ui inverted section divider" style="margin-left: 530px;margin-right: 130px" ></div>



            <div class="ui comments" style="width:600px;float: right;margin-right: 130px"  >
                {% for cm in comment %}
              <div class="comment" style="float:right">
                <a class="avatar" style="float: right">
                  <img src="../../static/images/user (2).png">
                </a>
                <div class="content" style="float: right">
                  <a class="author">
                      {{cm.user.username}}
                  </a>
                  <div class="metadata">
                    <div class="date">
                        {{cm.date}}
                    </div>
                  </div>
                  <div class="text">
                    {{cm.body}}
                  </div>

                </div>
              </div>
                {% endfor %}
                {% if user.is_authenticated %}
              <form class="ui reply form">

              </form>
                {% endif %}
            </div>










    <div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    رزرو اتاق
  </div>
  <div class="content">
       <div class="two fields">
    <div class="field">
              <div class="two fields">
                <div class="field">
                    <label style="visibility: hidden">تا</label>
                  <input type="text" name="first-name" placeholder="تاریخ خروج" style="direction: rtl;">
                </div>
                <div class="field">
                    <label style="visibility: hidden;">از</label>
                  <input type="text" name="last-name" placeholder="تاریخ ورود" style="direction: rtl;">
                </div>
              </div>
            </div>
           </div>

    <div class="ui positive right labeled icon button">
      Yep, that's me
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>

</div>

{% endblock %}
{% block script %}

<script type="text/javascript">
    $("#submit-cm").click(function(){
    var hotel_id = "{{hotel.id}}"
    var cm_body = $("#cm-body").val()
    var Data = "cm_body=" + encodeURIComponent(cm_body) +
                     "&hotel_id=" + encodeURIComponent(hotel_id);
    $.ajax({
    url: '/comment/',
    data: Data,
    type: 'post'
}).done(function(data){
        $("#submit-cm").fadeOut('slow');
        $("#cm-body").hide('slow');
        $("#cm-message").fadeIn('slow');
        })
})

</script>

{% endblock %}>