{% extends 'base/main.html' %}

{% load staticfiles %}

{% block content %}
    <div class = "ui form segment" style="width: 80%; margin: 0 auto;">
    <form action="" method="post">
    {% csrf_token %}
    <div class="field" style="direction:rtl">
    <label>نام هتل</label>
    {{ form.hotel_name }}

  </div>

    <div class="field" style="direction: rtl">
    <label>آدرس هتل</label>
    {{ form.address }}

  </div>

  <div class="field" style="direction: rtl">
    <label>تلفن هتل</label>
    {{ form.hotel_phone }}

  </div>

 <div class="field" style="direction: rtl">
    <label>ایمیل هتل</label>
   {{ form.hotel_email }}

  </div>


 <div class="field" style="direction: rtl">
    <label>ظرفیت هتل</label>
   {{ form.capacity }}

 </div>


     <label style="float: right; margin-left: 20px">درجه هتل</label>
   <div id="hotel-rate" class="ui large star rating" data-max-rating="5" style="float: right"></div>


<div style="height: 40px;">
    </div>



   <div class="three fields" id="add-row">



     <div class="field">
         <div>
           <input type="file" id="file" style="height: 30px" >
         </div>
     </div>


     <div class="field">
        <div class="ui action input">
            <input type="text" placeholder="">
        <div class="ui button">تعداد</div>
        </div>
     </div>


     <div class="field">
        <div class="ui action input">
            <input type="text" placeholder="">
        <div class="ui button">نوع اتاق</div>
        </div>
     </div>

    </div>



     <div class="field" id="plus">
        <i class="green plus icon" style="float: right;"></i>
     </div>



    <div style="height: 40px;">
    </div>


    <input class="ui button" type="submit" value="ذخیره" style="float:right" id="submit-form">
    </form>

    </div>

{% endblock %}
{% block script %}
        <script type="text/javascript" src=" {% static 'javascript/addhotel.js' %}"></script>

        <script>
            $("#plus").click(function(){
               $("#add-row").clone().insertBefore("#plus");
            });
        </script>
{% endblock %}