{% extends 'base/main.html' %}

{% load staticfiles %}

{% block content %}


<div class="ui five column grid">
    {% for hotel in hotels %}
    <div class="column">
      <a href="/hotel/{{ hotel.id }}">
      <div class="ui segment">
         <h5 class="ui inverted header" align="right" style="color: #000000" >{{hotel.hotel_name}}</h5>
        <img src="/images/avatar/large/elliot.jpg" class="ui fluid image">
          <div class="ui small star rating"  data-max-rating="5" style="text-align: center"></div>
      </div>
      </a>
    </div>
      {% endfor %}
  </div>
{% endblock %}