{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/semantic.css' %} ">
    <link rel="stylesheet" type="text/css" href="myStyle.css">
    <script src="{% static 'javascript/semantic.js' %}"></script>
</head>
<body>
<div class="ui form segment" style="width: 80%; margin: 0 auto;">
    <form action="" method="post">
        {% csrf_token %}

        <div class="two fields">
            <div class="field">
                <label>{{ form.first_name.label }}</label>
                {{ form.first_name }}
            </div>

            <div class="field">
                <label>{{ form.last_name.label }}</label>
                {{ form.last_name }}
            </div>
        </div>


        <div class="field">
            <label>{{ form.username.label }}</label>
            {{ form.username }}
        </div>

        <div class="field">
            <label>{{ form.password.label }}</label>
            {{ form.password }}
        </div>


        <div class="field">
            <label>{{ form.verified_pass.label }}</label>
            {{ form.verified_pass}}
        </div>

        <div class="field">
            <label>{{ form.address.label }}</label>
            {{ form.address }}
        </div>

        <div class="field">
            <label>{{form.phone.label  }}</label>
           {{ form.phone }}
        </div>

        <div class="field">
            <label>{{ form.email.label }}</label>
            {{ form.email }}
        </div>

        <input class="ui submit button" type="submit">

    </form>
</div>

</body>
</html>